<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <!-- Latest compiled and minified CSS -->
{{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        {{!-- <p>Welcome to weather app</p> --}}
                       
                        <figure class="errimg">
                         <img src="images/404.png" alt="Harshit" title="Harshit Gupta" class="img-fluid">
                        </figure>
                         <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back to Home</button></a>
                    
                    <!-- right side div  -->
                    {{!-- <div class="col-md-6 col-12 main_header_right"> --}}
                     </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- footer code  -->
  {{>footer}}
</body>

</html>