 <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#"><i class="fa-solid fa-cloud-sun-rain fa-fade"></i> GetWeather <i class="fa-solid fa-cloud-sun-rain fa-fade"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house" style="color: #fafafa;"></i>&nbsp;Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/weather"><i class="fa-solid fa-cloud" style="color: #fafafa;"></i>&nbsp;Weather</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"><i class="fa-solid fa-circle-user" style="color: #fbfcfe;"></i>&nbsp;About</a>
                            </li>
                        </ul>

                    </div>

                </nav>
            </div>

        </div>
    </div>